<html>
    <body>
        <form method="POST" > <div class="form-group"> 
            <input type="text" class="form-control" name="name" placeholder="name" value="<%= user_array.name %>" required> </div> <div class="form-group"> 
            <input type="text" class="form-control" name="phone" placeholder="phone" value="<%= user_array.phone %>" required> </div> <div class="form-group"> 
            <input type="text" class="form-control" name="city" placeholder="city" value="<%= user_array.city %>" required> </div> <div class="form-group"> 
            <input type="email" class="form-control" name="email" placeholder="email" value="<%= user_array.email %>" required> </div> <div class="form-group">                                
            <button type="submit" class="btn btn-default">Submit</button> <a href="/table"><button type="button" style="cursor: pointer;">Cancel</button></a>
        </form> 
    </body>
</html>